
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-size: cover;
}

header {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  transition: .4s;
}

h1 {
  font-family: 'biorhyme';
  text-align: center;
  color: white;
  font-size: 2rem;
  width: 100%;
  letter-spacing: .5rem;
}
nav a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}
h2 { 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 8vmin;
  text-align: center;
  margin: 2rem 3rem 0;
  mix-blend-mode: difference;
  color: aquamarine;
  font-weight: 100;
}
body {
   height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('../images/burst.jpg');  
}

.image {
  height: 200px;
  width: 250px;
}

h4 {
  text-indent: 100px;
  float: center;
  
}

figure2 {
  float: left;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}
figure1 {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

main {
  width: 1100px;
  height: 600px;
  color: whitesmoke;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  height: 100%;
}
.form-action {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}
.button {
      background-color: turquoise;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}


p.words {
  display: inline-block;

}


