.css-selector {
  font-family: '<Antic', sans-serif;
}

header {
    position: relative;
    background-color: rgb(7,8,33);
    width: 100%;
    overflow: hidden;
}

video {
  position: absolute;
  top: 60%;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container {
    position: relative;
    z-index: 2;
    color: black;
    padding: 20px;
  }
  
.overlay {
    position: absolute;
    top: 50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    z-index: 1;
  }
body {
   height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black;
}

h1 {
  margin: 20px 0;
  padding: 20px 0;
  color: whitesmoke;
}
h2 {
  margin: 20px 0;
  padding: 20px 0;
  color: black;
}
h4 {
  text-indent: 100px;
  float: center;
  
}

main {
  width: 960px;
  height: 600px;
  margin: 0 auto;
  background-color: black;
  padding: 20px 20px 20px 20px;
}


li {
  color: black;
  float: right;
  display: block;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}


p.words {
  display: inline-block;
  color: lavender;

}

.banner-text {
  width: 100%;
  color: black;
  position: absolute;
}
.banner-text li a {
  height: 50px;
  color: black;
  float:right;
}









/*Bigly*/

@media screen and (max-width: 980px) {
  #main {
    width: 100%;
  }
  header {
    position: relative;
    background-color: rgb(7,8,33);
    width: 100%;
    overflow: hidden;
}
video {
  position: absolute;
  top: 60%;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container {
    position: relative;
    z-index: 2;
    color: black;
    padding: 20px;
  }
  
.overlay {
    position: absolute;
    top: 50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    z-index: 1;
  }

h1 {
    margin: 20px 0;
    padding: 20px 0;
    color: whitesmoke;
  }
h2 {
    margin: 20px 0;
    padding: 20px 0;
    color: black;
  }
 

main {
    width: 960px;
    height: 600px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px 20px 20px 20px;
  }
  
  li {
    color: black;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  p.words {
    display: inline-block;
    color: lavender;
  
  }
  .banner-text {
    width: 100%;
    background-color: black;
    color: black;
    position: absolute;
}
  .banner-text ul {
    height: 50px;
    color: black;
    float:right;
}
  
}







/*medium screen below*/








@media screen and (max-width: 768px) {
  #main {
    width: 100%;
  }
  header {
    position: relative;
    background-color: rgb(7,8,33);
    width: 100%;
    overflow: hidden;
}
video {
  position: absolute;
  top: 60%;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container {
    position: relative;
    z-index: 2;
    color: black;
    padding: 20px;
  }
  
.overlay {
    position: absolute;
    top: 50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    z-index: 1;
  }

  h1 {
    margin: 20px 0;
    padding: 20px 0;
    color: whitesmoke;
  }
  h2 {
    margin: 20px 0;
    padding: 20px 0;
    color: black;
  }

  main {
    width: 768px;
    height: 600px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px 20px 20px 20px;
  }

  li {
    color: whitesmoke;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  p.words {
    display: inline-block;
    color: lavender;
  
  }
  .banner-text {
    width: 100%;
    color: whitesmoke;
    position: absolute;
}
  .banner-text ul {
    height: 50px;
    color: whitesmoke;
    float:right;
}
   
}









/*smol screen for smol cat below*/




@media screen and (max-width: 640px) {
  #main {
    width: 100%;

  }

video {
  position: absolute;
  top: 60%;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container {
    position: relative;
    z-index: 2;
    color: whitesmoke;
    padding: 20px;
  }
  
.overlay {
    position: absolute;
    top: 50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    z-index: 1;
  }


  h1 {
    margin: 20px 0;
    padding: 20px 0;
    color: whitesmoke;
  }
  h2 {
    margin: 20px 0;
    padding: 20px 0;
    color: black;
  }

  main {
    position: relative;
    width: 424px;
    height: 700px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px 20px 20px 20px;
  }

  li {
    color: whitesmoke;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p.words {
    display: inline-block;
  
}
.banner-text {
      width: 100%;
      color: black;
      background-color: white;
      position: absolute;
}
.banner-text ul {
      height: 50px;
      color: whitesmoke;
      float:right;
}
    
}



